header {
  background-color: rgb(0, 109, 9);
  color: white;
  font-size: 70px;
  text-align: center;




}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav a {
  position: sticky;
  border-radius: 20px;
  color: #1c1b1b;
  text-decoration: none;
  flex-wrap: wrap;
}

nav a:hover {
  color: #141414;
  background-color: rgb(148, 148, 148);
  padding: 15px;
  border-radius: 10px;
  flex-wrap: wrap;

}

nav {
  background: #efeeee;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
  flex-wrap: wrap;
  color: #b3b3b3;
 
 

}
.menubutton{
text-decoration: none;
color: #141414;
 
}
.haupt{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%
  }

  .kontakte-box{  
    align-content: center;
    text-align: center;
    background-color: #444444;
    padding: 30px;
    margin-top: 300px;
    color: white;
    border-radius: 20px;
    border: 3px solid black; 
    width: 400px;

    
  }
  .bilderL-box{
    border-radius: 20px;
  }