
header{
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 70px;
    text-align: center;
    
    
    

}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
